@media screen and (max-width: 1180px) {
    .main-content {
        grid-template-columns: 2fr 3fr;
        gap: 50px;
    }
    .booking-content h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 600px;
    }

    nav ul {
        justify-content: center;
    }

    nav ul li a {
        font-size: 15px;
        padding: 8px 12px;
    }

    .main-content {
        grid-template-columns: 1fr;
    }
}